
.guarantee{
  line-height: 1.9em;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  columns: #444444;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  background-color: #a7cece;
  padding: 24px;
  padding-left: 80px;
  margin: 30px;
  margin-right: 250px;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: top left;
}
